@font-face {
    font-family: "SilkScreen";
    src: url("../fonts/Silkscreen-Regular.ttf");
  }
  @font-face {
    font-family: "SilkScreenBold";
    src: url("../fonts/Silkscreen-Bold.ttf");
  }
  @font-face {
    font-family: "ClashDisplay";
    src: url("../fonts/ClashDisplay-Regular.otf");
  }
  @font-face {
    font-family: "ClashDisplaySemiBold";
    src: url("../fonts/ClashDisplay-Semibold.otf");
  }
  
  @media only screen and (min-width: 1000px) {
  }

  .headingContainer{
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .headingContainer h1{
    padding: 20px;
    float: left;
    font-size: 75px;
    font-family: "ClashDisplaySemiBold";
  }

  .headingContainer img{
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    align-self: center; 
  }

  .buttonContainer{
    text-align: center;  
    color: white;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 100px;
  }

  .buttonContainer a{
    box-sizing: border-box;
    font-size: 30px;
    padding: 30px 40px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: "ClashDisplay";
    letter-spacing: 5px;
  }

  .buttonContainer a:active{
    border: 2px solid black;
    background-color: white; 
    color: black;
  }

  .para p{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: left;
    color: #000000;
    font-size: 43px;
    font-family: "ClashDisplay";
    line-height: 55px;
    
  }

  .contact{
    font-weight: bold;
    margin: 10%;
    text-align: center;
    color: #000000;
    font-size: 55px;
    font-family: "ClashDisplay";
    letter-spacing: 3px;;
  }