@font-face {
    font-family: "SilkScreen";
    src: url("../fonts/Silkscreen-Regular.ttf");
  }
  @font-face {
    font-family: "SilkScreenBold";
    src: url("../fonts/Silkscreen-Bold.ttf");
  }
  @font-face {
    font-family: "ClashDisplay";
    src: url("../fonts/ClashDisplay-Regular.otf");
  }
  @font-face {
    font-family: "ClashDisplaySemiBold";
    src: url("../fonts/ClashDisplay-Semibold.otf");
  }
  body{
    font-size: large;
    font-family: "ClashDisplay";
    overflow-x: hidden;
  }

  @media only screen and (min-width: 1000px) {
  }

  .headingContainer{
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .headingContainer h1{
    padding: 20px;
    float: left;
    font-size: 75px;
    font-family: "ClashDisplaySemiBold";
  }

  .headingContainer img{
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    align-self: center; 
  }

  .buttonContainer{
    text-align: center;  
    color: white;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .buttonContainer a{
    box-sizing: border-box;
    font-size: 30px;
    padding: 30px 40px;
    text-decoration: none;
    background-color: black;
    font-family: "ClashDisplay";
    letter-spacing: 5px;
  }

  .para p{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: left;
    color: #000000;
    font-size: 43px;
    font-family: "ClashDisplay";
    line-height: 55px;
    
  }

  .contact{
    font-weight: bold;
    margin: 10%;
    text-align: center;
    color: #000000;
    font-size: 55px;
    font-family: "ClashDisplay";
    letter-spacing: 3px;;
  }
  
/* Header and Footer */

  .navBar {
    background-color: black;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 120px;
  }
  
  .navbarelements {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "ClashDisplay";
  }
  
  .name {
    font-family: "SilkScreen";
    font-size: 60px;
  }
  
  .navitem {
    padding-top: 12px;
    margin-right: 2.5%;
  }
  
  .navitem a {
    text-decoration: none;
    color: white;
    background-color: black;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: auto;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
  }
  
  .links a {
    text-decoration: none;
    color: white;
  }

  .column {
    flex: 1;
    margin: 0 15px;
    text-align: left;
  }

  .column-last-child {
    margin-left: 10px;
    text-align: left;
  }
  
  h3 {
    font-size: 20px;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  .cr {
    font-size: 20px;
    margin-top: 50px;
  }