.container{
  margin: 0;
  min-width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (min-width: 1000px) {
  body, html {
    height: 100%; /* Ensure full height */
  }

  body {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

  .container {
    max-width: 40vw; /* Adjust this value to match a typical mobile screen width */
    margin: 0 auto; /* Center the content horizontally */
    transform: scale(0.8); /* Adjust the scaling factor as needed */
    transform-origin: top center; /* Keep content anchored at the top */
    min-width: 0;
    padding: 0;
  }

  /* Add a class to elements with overflow-x to allow horizontal scrolling */
  .overflow-x-scroll {
    overflow-x: auto;
  }
}
@font-face {
    font-family: "SilkScreen";
    src: url("../fonts/Silkscreen-Regular.ttf");
  }
  @font-face {
    font-family: "SilkScreenBold";
    src: url("../fonts/Silkscreen-Bold.ttf");
  }
  @font-face {
    font-family: "ClashDisplay";
    src: url("../fonts/ClashDisplay-Regular.otf");
  }
  @font-face {
    font-family: "ClashDisplaySemiBold";
    src: url("../fonts/ClashDisplay-Semibold.otf");
  }
 
  @media only screen and (min-width: 1000px) {
  }

  .headingContainer{
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .headingContainer h1{
    padding: 20px;
    float: left;
    font-size: 75px;
    font-family: "ClashDisplaySemiBold";
  }

  .para ul,
  .para li,  
  .para p{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: left;
    color: #000000;
    font-size: 45px;
    font-family: "ClashDisplay";
    line-height: 55px;
  }

  .contact{
    font-weight: bold;
    margin: 10%;
    text-align: center;
    color: #000000;
    font-size: 55px;
    font-family: "ClashDisplay";
    letter-spacing: 3px;;
  }